<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lzh.framework.updatepluginlib">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <provider
            android:name=".util.UpdateInstallProvider"
            android:authorities="update.plugin.${applicationId}.UpdateInstallProvider"
            android:exported="false"
            android:grantUriPermissions="true">
        </provider>
    </application>

</manifest>
